:root {
  --body-bg: #EBF6F8;
  --orange: #FF5C00;
  --grey: #EBEBEB;
  --black: #000000;
  --white: #ffffff;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes animatePanel {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0%); }
}
@keyframes animatePanelOp {
  0% { transform: translateX(0%); }
  100% { transform: translateX(100%); }
}

.header {

  &__row {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: 768px) {
      padding: 4rem;
    }
  }

  &__logo {
    width: 6rem;

    @media screen and (min-width: 768px) {
      width: 8rem;
    }
  }

  &__cart {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
  }
}


.split {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__left {
    background-color: var(--white);
  }

  &__right {
    background-color: var(--body-bg);
  }

  .item {
    padding: 6rem;
  }

  @media screen and (min-width: 768px) {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 100px;

    &__left {
      left: 0;
    }
    &__right {
      right: 0;
    }
  }
}

.product-tile {
  background: var(--white);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  padding: 2rem 1.25rem 3rem;

  &__title {
    font-weight: 300;
    text-transform: capitalize;
  }

  &__price {
    color: var(--orange);
    font-weight: 700;
    margin: 1rem 0 1.5rem;
  }

  &__actions {
    a {
      color: #999;
      font-size: 12px;
    }
  }

  &__body {
    padding: 1rem 1.5rem 0;
  }
}

.button {
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  padding: 0.5rem 2rem;
  text-align: center;
  text-transform: uppercase;

  &__primary {
    background: var(--orange);
    color: var(--white);
  }
}

.action {

  &__cart {
    background: url("/images/bag.svg") no-repeat center center;
    background-size: 24px 24px;
    color: var(--black);
    display: block;
    font-size: 0.75rem;
    height: 1.5rem;
    line-height: 2.5;
    width: 1.5rem;
    text-align: center;
    text-decoration: none;
  }

  &__close {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
  }
}

.responsive {
  max-width: 100%;
  height: auto;
}

.panel-wrap {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 80%;
  animation: animatePanel 1s linear;
  transition: .3s ease-out;
  z-index: 999;

  &.closing {
    animation: animatePanelOp 1s linear;
  }

  .panel {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    background: var(--white);
    overflow: auto;

    .panelHeader, .panelFooter {
      flex-shrink: 0;
    }

    .panelBody {
      flex-grow: 1;
      padding: 1rem;

      &__row {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--grey);
        padding: 1rem 0 2rem;
      }

      &__col {
        flex: 1;
      }
    }

    .panelHeader {
      border-bottom: 1px solid var(--grey);
      padding: 2rem;

      &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      h2 {
        margin-bottom: 0;
      }
    }
    .panelFooter {
      border-top: 1px solid var(--grey);
      padding: 1rem 2rem;
      color: var(--black);
      text-align: center;

      a {
        color: var(--black);
        font-size: 0.875rem;
      }

      &__price, .button {
        margin-bottom: 1.5rem;
      }
    }
  }

  @media screen and (min-width: 768px) {
    width: 40%;
  }
}

.text-uppercase {
  text-transform: uppercase;
}

.text-underline {
  border-bottom: 1px solid;
  text-decoration: none;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.loader {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid var(--grey);
  border-radius: 50%;
  border-top: 16px solid var(--orange);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}